# macOS
.DS_Store

# Xcode user data
*.xcuserstate
xcuserdata/

# Xcode workspace noise
*.xccheckout
*.moved-aside
*.xcscmblueprint
**/xcshareddata/IDEWorkspaceChecks.plist

# Xcode build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
